/* PasswordGenerator.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.password-generator-container {
  z-index: 1;
  width: 60vw;
  max-width: 600px;
  padding: 4vw 6vw;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.password-input {
  width: 100%;
  padding: 1.5vw;
  margin: 1vh 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 1.5vw;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
}

.copy-button {
  width: 100%;
  padding: 1.5vw;
  margin: 1vh 0;
  border: none;
  border-radius: 8px;
  font-size: 1.5vw;
  color: white;
  background: linear-gradient(145deg, #e74c3c, #c0392b); /* Gradient button background in red tones */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.copy-button:hover {
  background: linear-gradient(145deg, #c0392b, #a93226);
  transform: scale(1.05);
}

.copy-button:active {
  background: #922b21;
  transform: scale(0.98);
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.length-option {
  width: 100%;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.length-option input[type="range"] {
  width: 80%;
}

.length-option label {
  margin-top: 1vh;
  font-size: 1.5vw;
  color: #f0f0f0;
}

.checkbox-option {
  width: 100%;
  margin: 1vh 0;
  display: flex;
  align-items: center;
}

.checkbox-option input[type="checkbox"] {
  margin-right: 1vw;
}

.checkbox-option label {
  font-size: 1.5vw;
  color: #f0f0f0;
}

.back-button {
  width: 100%;
  padding: 1.5vw;
  margin: 2vh 0;
  border: none;
  border-radius: 8px;
  font-size: 2vw;
  color: white;
  background: linear-gradient(145deg, #3498db, #2980b9); /* Gradient button background in blue tones */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.back-button:hover {
  background: linear-gradient(145deg, #2980b9, #1f618d);
  transform: scale(1.05);
}

.back-button:active {
  background: #1a5276;
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .password-generator-container {
    width: 80vw;
  }

  .password-display .password-input,
  .copy-button,
  .back-button {
    font-size: 2.5vw;
  }

  .length-option label,
  .checkbox-option label {
    font-size: 2.5vw;
  }

  #backgroundVideo {
    width: 150%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .password-generator-container {
    width: 90vw;
  }

  .password-display .password-input,
  .copy-button,
  .back-button {
    font-size: 3.5vw;
  }

  .length-option label,
  .checkbox-option label {
    font-size: 3.5vw;
  }

  #backgroundVideo {
    width: 150%;
    height: auto;
  }
}
