/* ShowSavedPasswords.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.ShowSavedPasswords {
  z-index: 1;
  width: 60vw;
  max-width: 600px;
  padding: 4vw 6vw;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh; /* Set a fixed height for the container */
  overflow:auto; /* Enable scrolling if content overflows */
}

h2 {
  font-size: 3vw;
  margin-bottom: 2vh;
  color: #f0f0f0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.passwordItem {
  width: 100%;
  padding: 1.5vw;
  margin: 1vh 0;
  background-color: rgba(40, 40, 40, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordItem p {
  margin: 0.5vh 0;
  font-size: 1.5vw;
}

.passwordItem button {
  width: 100%;
  padding: 1.5vw;
  margin-top: 1vh;
  border: none;
  border-radius: 8px;
  font-size: 1.5vw;
  color: white;
  background: linear-gradient(145deg, #e74c3c, #c0392b); /* Gradient button background in red tones */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.passwordItem button:hover {
  background: linear-gradient(145deg, #c0392b, #a93226);
  transform: scale(1.05);
}

.passwordItem button:active {
  background: #922b21;
  transform: scale(0.98);
}

.back-button {
  width: 100%;
  padding: 1.5vw;
  margin: 2vh 0;
  border: none;
  border-radius: 8px;
  font-size: 2vw;
  color: white;
  background: linear-gradient(145deg, #3498db, #2980b9); /* Gradient button background in blue tones */
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-in-out;
}

.back-button:hover {
  background: linear-gradient(145deg, #2980b9, #1f618d);
  transform: scale(1.05);
}

.back-button:active {
  background: #1a5276;
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .ShowSavedPasswords {
    width: 80vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  .passwordItem p {
    font-size: 2.5vw;
  }

  .passwordItem button,
  button.goBack {
    font-size: 2.5vw;
  }

  #backgroundVideo {
    width: 150%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .ShowSavedPasswords {
    width: 90vw;
  }

  h2 {
    font-size: 6vw;
  }

  .passwordItem p {
    font-size: 3.5vw;
  }

  .passwordItem button,
  button.goBack {
    font-size: 3.5vw;
  }

  #backgroundVideo {
    width: 150%;
    height: auto;
  }
}
